.wrap-loading-page{
  height: 100%;
  .example {
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}