.wrap-page-stories{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#222222;
  .wrap-body-page-stories{
    width: 100%;
    height: 100%;
    .center{
      height: 100%;
      .wrap-user-story{
        width: 100%;
      }
      .slick-list{
        padding: 0 0 !important;
        height: 100%;
        border-radius: 10px;
        .slick-track{
          height: 100%;
          .item-story{
            cursor: pointer;
            height: 430px;
            width: 267px;
            margin-right: 15px;
            margin-left: 15px;
            .react-player__shadow{
              z-index: 99999999;
            }
            .img-story{
              border-radius: 10px;
              object-fit: cover;
              width: 100%;
              height: 100%;
              opacity: .5;
            }
            .user-profile{
              position: absolute;
              top: 50%;
              display: grid;
              z-index: 999;
              .ant-avatar-image{
                width: 70px;
                height: 70px;
                border: 2px solid white;
              }
              .username{color: #fff!important;font-weight: 600;text-align: center;padding-top: 5px;}
              .time_add{color: rgba(255, 255, 255, 0.62) !important;font-weight: 600;text-align: center;}
            }
          }
          .slick-current{
            height: 100%;
            min-width: 600px;
            .item-story{
              height: 900px;
              cursor: unset!important;
              background: transparent;
              opacity: 1!important;
              width: auto!important;
              .react-player__shadow{
                z-index: 99999999;
              }
              .img-story{
                opacity: 1!important;
              }
              .user-profile{
                position: absolute;
                display: block;
                top: 0px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0));
                width: 570px;
                padding-top: 15px;
                padding-bottom: 50px;
                border-radius: 10px;
                text-align: left!important;
                padding-left: 20px!important;
                .ant-avatar-image{
                  margin-right: 10px;
                  width: 32px!important;
                  height: 32px!important;
                  border: none;
                }
                .username{color: #fff!important;font-weight: 600;}
                .time_add{color: rgba(255, 255, 255, 0.62) !important;font-weight: 600;}
              }
              .footer-story{
                position: absolute;
                bottom: 0px;
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
                width: 570px;
                padding-bottom: 20px;
                padding-top: 60px;
                border-radius: 10px;
              }
            }
            &>div{width: 100%;z-index: 999;}
          }
          div{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .settingsUserItem{
      width: 600px;
      .slick-list{
        .slick-track{

        }
      }
    }
  }
  .wrap-btn-esc{
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    background: transparent;
    border: none;
    top: 20px;
    right: 20px;
  }
  .wrap-logo{
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    top: 20px;
    left: 20px;
  }
}
.wrap-page-stories-facebook{
  background:#222222;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .wrap-page-stories-facebook{
    display: flex;
    .right-body-facebook{
      width: 100%;
      height: 100%;
      background: black;
      .fb-stories{
        width: 100%;
        height: 95%;
        display: flex;
        align-items: center;

        .fb-stories-setting-slide-slick{
          height: 94%;
          width: 500px;
          margin: 0 auto;
          .slick-prev:before, .slick-next:before{
            font-size: 50px;
          }
          .slick-next{
            right: -60px;
          }
          .slick-prev{
            left: -60px;
          }
          .slick-list{
            border-radius: 10px;
            height: 100%;
            .slick-track{
              height: 100%;
              div{
                height: 100%;
              }
            }
          }
          .item-story{
            height: 100%;
            .react-player__shadow{
              z-index: 99999999;
            }
            video{
              object-fit: cover;
            }
            img{
              object-fit: cover;
              width: 500px;
              height: 100%;
              border-radius: 10px;
            }
            .user-profile{
              position: absolute;
              display: block;
              top: 0px;
              background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0));
              width: 500px;
              padding-top: 15px;
              border-radius: 10px;
              text-align: left!important;
              padding-left: 20px!important;
              height: 60px!important;
              .username{color: #fff!important;font-weight: 600;margin-left: 10px;cursor: pointer}
              .time_add{color: rgba(255, 255, 255, 0.62) !important;font-weight: 600;margin-left: 6px;}
              img{
                width: 100% !important;
              }
            }
            .footer-story{
              position: absolute;
              bottom: 0px;
              background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
              width: 500px;
              border-radius: 10px;
              height: 35px!important;
            }
          }
        }
      }
      .fb-reply-story{
        width: 100%;
        height: 6%;
        .fb-input{
          width: 400px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          .fb-input-1{
            padding-left: 15px;
            width: 400px;
            margin-right: 10px;
            border-radius: 22px;
            border: 1px solid white;
            background: transparent;
            height: 40px;
            color: white;
            outline: none;
          }
          .fb-text-send{
            color: white;
            font-weight: 600;
            cursor: pointer;
          }
          .fb-text-send-disable{
            color: white;
            font-weight: 600;
            opacity: .5;
          }
        }
      }
    }
    .top-body-facebook{
      min-width : 350px;
      .left-body-facebook{
        width: 100%;
        height: 100%;
        color: white;
        overflow: auto;
        height: 950px;
        user-select: none;
        .fb-label{
          padding: 18px;
        }
        .fb-list-user{
          .fb-item{
            padding: 10px;
            .fb-item-info{
              margin-left: 20px;
              .fb-item-info-name{
                font-weight: 600;
              }
              .fb-item-info-time{
                .color{
                  color: #2e89ff;
                }
              }
            }
            /* Story */
            .story {
              background-color: transparent;
              border: none;
              cursor: pointer;

              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 6px;
            }

            .story__avatar {
              position: relative;
            }

            .story__border {
              width: 64px;
              height: 64px;

              fill: none;
              stroke: var(--story-border);
              stroke-width: 1.5;
            }

            .story--has-story .story__border {
              stroke: url(#--story-gradient);
              stroke-width: 2;
            }

            .story__picture {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              width: 56px;
              height: 56px;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .story__picture::after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

              border: 1px solid var(--img-border);
              border-radius: 50%;
            }

            .story__user {
              font-size: 12px;
              font-weight: 400;
              color: var(--text-light);
              text-transform: lowercase;

              max-width: 72px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            .story--has-story .story__user {
              color: var(--text-dark);
            }

          }
        }
      }
      .top-top{
        display: flex;
        padding: 20px 20px 10px 20px;
        .btn-close{
          padding-right: 50px;
          .wrap-btn-esc-facebook{
            cursor: pointer;
            background: transparent;
            border: none;
            top: 20px;
            right: 20px;
          }
        }
        .wrap-logo-facebook{
          cursor: pointer;
          top: 20px;
          left: 20px;
        }
      }
      .line{
        width: 100%;
        height: 1px;
        background: rgb(47 48 49);
      }
    }
  }
}